<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jason.module.article.dao.ArticleMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.jason.module.article.entity.Article">
        <id column="id" property="id" />
        <result column="title" property="title" />
        <result column="cover_type" property="coverType" />
        <result column="author_id" property="authorId" />
        <result column="status" property="status" />
        <result column="content" property="content" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="publish_time" property="publishTime" />
        <result column="article_category" property="articleCategory" />
        <result column="car_category" property="carCategory" />
        <result column="tags" property="tags" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, title, cover_type, author_id, status, content, create_time, update_time, publish_time, article_category, car_category, tags
    </sql>

</mapper>
