<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jason.module.security.dao.MenuMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.jason.module.security.entity.Menu">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="url" property="url" />
        <result column="pid" property="pid" />
        <result column="seq" property="seq" />
        <result column="icon" property="icon" />
    </resultMap>

    <resultMap id="DtoResultMap" type="com.jason.module.security.dto.MenuDto" extends="BaseResultMap">
        <result column="permissionId" property="permissionId"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, name, url, pid,seq,icon
    </sql>

    <select id="queryMenuListByRole" parameterType="java.util.List" resultMap="DtoResultMap">
        select m.*,per.id as permissionId from
        menu m
        left join permission_menu_re pm on pm.menu_id = m.id
        LEFT JOIN permission per on per.id = pm.permission_id
        LEFT JOIN role_permission_re rp on rp.permission_id = per.id
        where rp.role_id in
       <foreach collection="list" open="(" close=")" item="item" separator=",">
           #{item}
       </foreach>
    </select>

    <select id="queryAllMenu" resultMap="DtoResultMap">
        select m.*,pm.permission_id as permissionId
        from menu m
        left join permission_menu_re pm on pm.menu_id = m.id

    </select>

</mapper>
