<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jason.module.security.dao.OperationMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.jason.module.security.entity.Operation">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="url" property="url" />
        <result column="code" property="code" />
        <result column="pid" property="pid" />
        <result column="method" property="method" />
    </resultMap>

    <resultMap id="DtoResultMap" type="com.jason.module.security.dto.OperationDto" extends="BaseResultMap">
        <result column="permissionId" property="permissionId"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, name, url, code, pid,method
    </sql>

    <select id="queryOperationListByRole" parameterType="java.util.List" resultMap="DtoResultMap">
        select m.*,per.id as permissionId from
        operation m
        left join permission_operation_re po on po.operation_id = m.id
        left join permission per on per.id = po.permission_id
        left join role_permission_re rp on rp.permission_id = per.id
        where rp.role_id in
        <foreach collection="roleIdList" open="(" close=")" item="item" separator=",">
            #{item}
        </foreach>
    </select>

    <select id="queryOperationListByRoleId" parameterType="java.lang.Long" resultMap="DtoResultMap">
         select m.*,per.id as permissionId from
        operation m
        left join permission_operation_re po on po.operation_id = m.id
        left join permission per on per.id = po.permission_id
        left join role_permission_re rp on rp.permission_id = per.id
        where rp.role_id  = #{roleId}
    </select>

    <select id="queryAll" resultMap="DtoResultMap">
        select o.*,po.permission_id as permissionId
        from operation o
        left join permission_operation_re po on po.operation_id = o.id
    </select>
</mapper>
