<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jason.module.security.dao.OperationMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.jason.module.security.entity.Operation">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="url" property="url" />
        <result column="code" property="code" />
        <result column="pid" property="pid" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, name, url, code, pid
    </sql>

    <select id="queryOperationListByRole" parameterType="java.util.List">
        select m.* from role_permission_re rp
        left join  permission per on per.id = rp.permission_id and per.type = 3
        left join  permission_operation_re pm on pm.permission_id = per.id
        left join operation m on m.id = pm.operation_id
        where rp.role_id in
        <foreach collection="roleIdList" open="(" close=")" item="item" separator=",">
            #{item}
        </foreach>
    </select>

    <select id="queryOperationListByRoleId" parameterType="java.lang.Long">
        select m.* from role_permission_re rp
        left join  permission per on per.id = rp.permission_id and per.type = 3
        left join  permission_operation_re pm on pm.permission_id = per.id
        left join operation m on m.id = pm.operation_id
        where rp.role_id = #{roleId}
    </select>


</mapper>
