<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jason.module.file.dao.ResourceImageMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.jason.module.file.entity.ResourceImage">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="path" property="path" />
        <result column="size" property="size" />
        <result column="upload_time" property="uploadTime" />
        <result column="title" property="title" />
        <result column="group_id" property="groupId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, `name`, path, `size`, upload_time, title, group_id
    </sql>

</mapper>
