<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jason.module.security.dao.RoleMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.jason.module.security.entity.Role">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="code" property="code" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, name,code
    </sql>

    <!--查询用户-角色关联表下的role-->
    <select id="queryRoleByUserId" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select b.* from role b
			left join user_role_r a on a.role_id = b.id
			where a.user_id = #{userId}
    </select>
    <!--查询用户组-角色关联下的role-->
    <select id="queryGroupRoleListByUserId" parameterType="java.lang.Long" resultMap="BaseResultMap">
        	select r.* from role r
				left join user_group_role_re re on re.role_id = r.id
				left join user_group_re ug on ug.group_id = re.group_id
				where ug.user_id = #{userId}
    </select>
    <!-- 根据操作id查询角色列表 -->
    <select id="queryRoleListByOpId" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select r.* from role r
				left join role_permission_re rp on r.id = rp.role_id
				left join  permission per on per.id = rp.permission_id and per.type = 3
        left join  permission_operation_re pm on pm.permission_id = per.id
				where pm.operation_id = #{operationId}
    </select>

</mapper>
